.wrap-im-onePic {
    position: relative;
    margin: 10px 10% 10px 10%; /* top, right, bottom, left */
    /* left: calc(50% - 120px); */
    /* width: 240px; */
    /* height: 240px; */
    display: flex;
    overflow: hidden;
}
.wrap-im-twoPics {
    position: relative;
    margin: 10px 10% 10px 10%; /* top, right, bottom, left */
    /* left: calc(50% - 250px); */
    /* width: 240px; */
    /* height: 240px; */
    /* overflow: hidden; */
    display: flex;
    overflow-x: auto;
    gap: 20px;
}